// Before start remember:
// 1. Set Latin range
// 2.
// Fonts

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  margin: 0;
}

.grey-op {
  color: #1a1a1a;
  opacity: 0.8;
}

.grey {
  color: #1a1a1a;
}

.white {
  color: #fff;
}

.white-op {
  color: #fff;
  opacity: 0.8;
}

// There's no need using the whole set of chars for one word on whole page. I can simply load chars needed for one word!!!
// font display
// Fonts:

// MOBILE FIRST!!!
@font-face {
  font-family: "Montserrat_Normal";
  src: url("./assets/fonts/Montserrat-Regular.eot");
  src: local("☺"), url("./assets/fonts/Montserrat-Regular.woff") format("woff"),
    url("./assets/fonts/Montserrat-Regular.ttf") format("truetype"),
    url("./assets/fonts/Montserrat-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  unicode-range: U+0000-001f, U+0041-005a, u+0061-007a;
}

@font-face {
  font-family: "Saudagar";
  src: url("./assets/fonts/Saudagar.eot");
  src: local("☺"), url("./assets/fonts/Saudagar.woff") format("woff"),
    url("./assets/fonts/Saudagar.ttf") format("truetype"),
    url("./assets/fonts/Saudagar.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  unicode-range: U+0000-001f, U+0041-005a, u+0061-007a;
}

@font-face {
  font-family: "SukhumvitSet";
  src: url("./assets/fonts/sukhumvit-set_text.woff.eot");
  src: local("☺"),
    url("./assets/fonts/sukhumvit-set_text.woff.woff") format("woff"),
    url("./assets/fonts/sukhumvit-set_text.woff.ttf") format("truetype"),
    url("./assets/fonts/sukhumvit-set_text.woff.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// light
@font-face {
  font-family: "SukhumvitSet";
  src: url("./assets/fonts/SukhumvitSet-Light.eot");
  src: local("☺"), url("./assets/fonts/SukhumvitSet-Light.woff") format("woff"),
    url("./assets/fonts/SukhumvitSet-Light.ttf") format("truetype"),
    url("./assets/fonts/SukhumvitSet-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}

// medium
@font-face {
  font-family: "SukhumvitSet";
  src: url("./assets/fonts/SukhumvitSet-Medium.eot");
  src: local("☺"), url("./assets/fonts/SukhumvitSet-Medium.woff") format("woff"),
    url("./assets/fonts/SukhumvitSet-Medium.ttf") format("truetype"),
    url("./assets/fonts/SukhumvitSet-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

// bold
@font-face {
  font-family: "SukhumvitSet";
  src: url("./assets/fonts/SukhumvitSet-Bold.eot");
  src: local("☺"), url("./assets/fonts/SukhumvitSet-Bold.woff") format("woff"),
    url("./assets/fonts/SukhumvitSet-Bold.ttf") format("truetype"),
    url("./assets/fonts/SukhumvitSet-Bold.svg") format("svg");
  font-weight: bold;
  font-style: normal;
}

.title,
a,
p {
  color: #ffffff;
  white-space: nowrap;
}

h1 {
  margin: 0 0;
}

.title {
  font-family: "Montserrat_Normal", sans-serif;
  font-size: 1.9375rem;
  letter-spacing: 0.17em;
}

p {
  display: inline-block;
  font-family: "SukhumvitSet", sans-serif;
  font-size: 1.125rem;
}

a {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: "SukhumvitSet", sans-serif;
  text-decoration: none;
  font-size: 1.125rem;
  position: relative;
  margin-right: 3.7em;
  margin-left: 30px;
  font-weight: 500;

  &:hover,
  &::after {
    color: black;
    transition: 0.5s;
  }

  &::before {
    display: flex;
    justify-items: center;
    align-items: center;
    font-size: 2em;
  }

  &.google-play::before {
    content: url("./assets/images/google-play.svg");
  }

  &.app-store::before {
    content: url("./assets/images/app-store.svg");
  }
}

.intro-container {
  position: relative;
  background-color: rgba(0, 0, 0, 0.75);

  &::after {
    position: absolute;
    content: "";
    background: url("./assets/images/image1.svg");
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;

  p {
    margin-right: 3.7em;
    font-weight: 500;
  }
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;

  .subscribe-btn {
    display: block;
    color: #1a1a1a;
    font-weight: bold;
    background-color: #dcac9b;
    text-align: center;
    border: none;
    border-radius: 2px;
    width: 20%;
    height: 59px;
    margin-bottom: 350px;
    padding-top: 15px;

    &:hover {
      background-color: #c09485;
      transition: 0.3s;
    }
  }

  h1 {
    font-family: "Saudagar";
    text-transform: uppercase;
    color: #ffffff;
    font-size: 5rem;
    font-weight: normal;
    line-height: 5rem;
  }

  p {
    font-family: "SukhumvitSet";
    font-weight: 300;
    line-height: 2.6rem;
    font-size: 2rem;
    margin-bottom: 70px;
  }
}

.coming-soon-section {
  position: relative;
  background-color: #1a1a1a;
  text-align: center;

  h1 {
    font-family: "Saudagar";
    color: #ffffff;
    font-size: 15rem;
    line-height: 15rem;
    opacity: 0.06;
    text-transform: uppercase;
    font-weight: 400;
  }

  div {
    display: inline-block;
    width: min-content;

    h2 {
      font-family: "Saudagar";
      text-transform: uppercase;
      color: #fff;
      font-size: 3.125rem;
      letter-spacing: 3.5px;
    }

    p {
      white-space: pre;
      margin-bottom: 240px;
      opacity: 0.8;
    }
  }
}

h2 {
  font-family: "Saudagar";
  font-style: normal;
  font-weight: 400;
  font-size: 3.125rem;
  line-height: 4.0625rem;
  text-transform: uppercase;
}

.section3 {
  position: relative;
  padding-top: 45%;
  margin-bottom: 200px;

  #image3 {
    width: 80%;
    position: absolute;
    left: 10%;
    top: -70px;
  }
}

.two-items-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.heading-number {
  font-family: "Saudagar";
  font-size: 1.875rem;
  line-height: 2.8125rem;
  font-style: normal;
  font-weight: normal;
  color: #dcac9b;
  text-transform: uppercase;
  margin: 0;
}

.section4 {
  background-color: #1a1a1a;

  // height: 950px;

  .two-items-container {
    align-items: center;
  }
}

.section5 {
  padding-top: 100px;
  text-align: center;
}

#image4 {
  width: 25%;
}

$circle-diameter: 400px;
$phone-width: 349px;
$phone-height: 660px;

@mixin circle {
  width: $circle-diameter;
  height: $circle-diameter;
  border-radius: 50%;
  background-color: #dcac9b;
  opacity: 0.6;
}

@keyframes rotateCircle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.that-circle {
  position: relative;
  width: $circle-diameter;
  height: $circle-diameter;
  border-radius: 50%;
  animation-name: rotateCircle;
  animation-fill-mode: forwards;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  // animation: name duration timing-function delay iteration-count direction
  //   fill-mode;
}

.circle {
  @include circle;
}

.phone-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.phone {
  position: relative;
  width: $phone-width;
  height: $phone-height;
  background-image: url("./assets/images/profile-photo.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 4px solid black;
  border-radius: 15px;

  // Circle
  &::after {
    content: "";
    @include circle;
    position: absolute;
    left: -($circle-diameter/2 - $phone-width/2) - 4px;
    top: $phone-height/2 - $circle-diameter/2 - 1px;
    z-index: -1;
  }

  // Rectangle
  &::before {
    content: "";
    position: absolute;
    width: $phone-width/2;
    height: 25px;
    background-color: black;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    top: 0;
    left: $phone-width/2 - $phone-width/4;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 182px;
  height: 52px;
  text-align: center;
  background-color: #000;
  margin: 10px;

  &:hover {
    background-color: #000000d8;
    color: white !important;
  }
}

.store-links-container {
  display: flex;
  margin-bottom: 50px;
  align-items: center;
  justify-content: center;
}

.form-and-image {
  display: flex;
  background-color: #fff;

  .image-left-to-form {
    width: 50%;
    background-image: url("./assets/images/image5.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.form-container {
  height: 100vh;
  width: 50%;
  padding: 5% 7%;

  background-color: #1a1a1a;
  backdrop-filter: blur(4px);

  form {
    input,
    select {
      width: 100%;
    }

    input:not([type="submit"]) {
      background-color: inherit;
      outline: none;
      border: none;
      padding: 0;
      border-bottom: 2px solid rgba(255, 255, 255, 0.7);
      border-radius: 2px;

      color: #8e8e8e;
      font-family: "SukhumvitSet";
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
    }

    input[type="submit"] {
      font-family: "SukhumvitSet";
      font-size: 1.125rem;
      line-height: 1.935rem;
      font-style: normal;
      font-weight: bold;
      color: #1a1a1a;
      text-align: center;
      background-color: #dcac9b;
      border-radius: 2px;
      height: 10%;
      text-transform: capitalize;
      border: none;
    }
  }
}

select,
option {
  background-color: inherit;
  color: #8e8e8e;
  font-family: "SukhumvitSet";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  outline: none;
  border: none;
  padding: 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 2px;
}

input:not([type="submit"]),
select {
  margin-top: 1.5rem;
}

.form-control {
  position: relative;
  margin-bottom: 5%;
}

label {
  display: block;
  text-transform: uppercase;
  color: #8e8e8e;
  font-family: "SukhumvitSet";
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 165%;

  &[for="form"] {
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Saudagar;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 130%;
    margin-bottom: 5%;
  }
}

label:not([for="form"]) {
  position: absolute;
  top: 0;
}

input + label,
select + label {
  opacity: 0;
  transition: opacity 0.5s;
}

input:focus + label,
select:focus + label {
  opacity: 1;
}

// @keyframes heading-number-move {
//   from {
//     margin-left: auto;
//   }
//   to {
//     margin-left: 5%;
//   }
// }

@media screen and (max-width: 1220px) {
  .phone-section {
    display: none;
  }
}

@media screen and (min-width: 850px) {
  .header {
    flex-direction: row;
  }

  .heading-number + h2 {
    text-align: left;
  }

  .title {
    margin-left: 5%;
  }

  .two-items-container {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .intro {
    h1 {
      font-size: 17.1875rem;
      line-height: 17.1875rem;
    }
  }

  .store-links {
    display: flex;
    margin-left: auto;
  }

  .text-container {
    width: 35%;
  }

  .wrap {
    white-space: normal;
  }

  .heading-number {
    position: relative;
    text-align: left;
  }

  [data-inviewport] {
    transition: 2s;
    left: -100%;
  }

  [data-inviewport].is-inViewport {
    left: 0;
  }
}
