// Before start remember:
// 1. Set Latin range
// 2.
// Fonts

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.grey-op {
  color: #1a1a1a;
  opacity: 0.8;
}

.grey {
  color: #1a1a1a;
}

.white {
  color: #fff;
}

.white-op {
  color: #fff;
  opacity: 0.8;
}

// There's no need using the whole set of chars for one word on whole page. I can simply load chars needed for one word!!!
// font display
// Fonts:

// MOBILE FIRST!!!
@font-face {
  font-family: "Montserrat_Normal";
  src: url("./assets/fonts/Montserrat-Regular.eot");
  src: local("☺"), url("./assets/fonts/Montserrat-Regular.woff") format("woff"),
    url("./assets/fonts/Montserrat-Regular.ttf") format("truetype"),
    url("./assets/fonts/Montserrat-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  unicode-range: U+0000-001f, U+0041-005a, u+0061-007a;
}

@font-face {
  font-family: "Saudagar";
  src: url("./assets/fonts/Saudagar.eot");
  src: local("☺"), url("./assets/fonts/Saudagar.woff") format("woff"),
    url("./assets/fonts/Saudagar.ttf") format("truetype"),
    url("./assets/fonts/Saudagar.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  unicode-range: U+0000-001f, U+0041-005a, u+0061-007a;
}

@font-face {
  font-family: "SukhumvitSet";
  src: url("./assets/fonts/sukhumvit-set_text.woff.eot");
  src: local("☺"),
    url("./assets/fonts/sukhumvit-set_text.woff.woff") format("woff"),
    url("./assets/fonts/sukhumvit-set_text.woff.ttf") format("truetype"),
    url("./assets/fonts/sukhumvit-set_text.woff.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// light
@font-face {
  font-family: "SukhumvitSet";
  src: url("./assets/fonts/SukhumvitSet-Light.eot");
  src: local("☺"), url("./assets/fonts/SukhumvitSet-Light.woff") format("woff"),
    url("./assets/fonts/SukhumvitSet-Light.ttf") format("truetype"),
    url("./assets/fonts/SukhumvitSet-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}

// medium
@font-face {
  font-family: "SukhumvitSet";
  src: url("./assets/fonts/SukhumvitSet-Medium.eot");
  src: local("☺"), url("./assets/fonts/SukhumvitSet-Medium.woff") format("woff"),
    url("./assets/fonts/SukhumvitSet-Medium.ttf") format("truetype"),
    url("./assets/fonts/SukhumvitSet-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

// bold
@font-face {
  font-family: "SukhumvitSet";
  src: url("./assets/fonts/SukhumvitSet-Bold.eot");
  src: local("☺"), url("./assets/fonts/SukhumvitSet-Bold.woff") format("woff"),
    url("./assets/fonts/SukhumvitSet-Bold.ttf") format("truetype"),
    url("./assets/fonts/SukhumvitSet-Bold.svg") format("svg");
  font-weight: bold;
  font-style: normal;
}

.title,
a,
p {
  color: #ffffff;
  white-space: nowrap;
}

h1 {
  margin: 0 0;
}

.title {
  font-family: "Montserrat_Normal", sans-serif;
  font-size: 1.9375rem;
  letter-spacing: 0.17em;
}

p {
  display: inline-block;
  font-family: "SukhumvitSet", sans-serif;
  font-size: 1.125rem;
}

a {
  font-family: "SukhumvitSet", sans-serif;
  text-decoration: none;
  font-size: 1.125rem;
  position: relative;
  margin-right: 3.7em;
  margin-left: 30px;
  font-weight: 500;

  &:hover,
  &::after {
    color: black;
    transition: 0.5s;
  }

  &::before {
    position: absolute;
    top: -1.5px;
    left: -25px;
  }

  &.google-play::before {
    content: url("./assets/images/google-play.svg");
  }

  &.app-store::before {
    content: url("./assets/images/app-store.svg");
  }
}

.intro-container {
  position: relative;
  background-color: rgba(0, 0, 0, 0.75);

  &::after {
    position: absolute;
    content: "";
    background: url("./assets/images/image1.svg");
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;

  p {
    margin-right: 3.7em;
    font-weight: 500;
  }
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;

  .subscribe-btn {
    color: #1a1a1a;
    font-weight: bold;
    background-color: #dcac9b;
    text-align: center;
    border: none;
    border-radius: 2px;
    width: 20%;
    height: 59px;
    margin-bottom: 350px;
    padding-top: 15px;

    &:hover {
      background-color: #c09485;
      transition: 0.3s;
    }
  }

  h1 {
    font-family: "Saudagar";
    text-transform: uppercase;
    color: #ffffff;
    font-size: 5rem;
    font-weight: normal;
    line-height: 5rem;
  }

  p {
    font-family: "SukhumvitSet";
    font-weight: 300;
    line-height: 2.6rem;
    font-size: 2rem;
    margin-bottom: 70px;
  }
}

.coming-soon-section {
  position: relative;
  background-color: #1a1a1a;
  text-align: center;

  h1 {
    font-family: "Saudagar";
    color: #ffffff;
    font-size: 15rem;
    line-height: 15rem;
    opacity: 0.06;
    text-transform: uppercase;
    font-weight: 400;
  }

  div {
    display: inline-block;
    width: min-content;

    h2 {
      font-family: "Saudagar";
      text-transform: uppercase;
      color: #fff;
      font-size: 3.125rem;
      letter-spacing: 3.5px;
    }

    p {
      white-space: pre;
      margin-bottom: 240px;
      opacity: 0.8;
    }
  }
}

h2 {
  font-family: "Saudagar";
  font-style: normal;
  font-weight: 400;
  font-size: 3.125rem;
  line-height: 4.0625rem;
  text-transform: uppercase;
}

